<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head")%> 
<body>
    <%- include("partials/header")%> 
    <main class="home">
                
        <!-- CAROUSEL -->
        <%- include("partials/carousel")%> 
        <!-- END CAROUSEL -->
        <!-- SALE -->
        <%- include("partials/slider")%>
        <%- include("partials/slider2")%> 
        <%- include("partials/slider3")%> 
        <!-- END SALE -->

        <div class="btn__utiles">
            <div class="link__util link__pago">
                <p>Pagá con credito o debito</p>
                <img class="link__icon" src="/images/iconos/img-tarjeta.png" alt="Pagá con credito o debito">
            </div>

            <div class="link__util link__catalogo">
                <p>Accede al catalogo exclusivo</p>
                <img class="link__icon" src="images/iconos/img-catalogo.png" alt="Accede al catalogo exclusivo">
            </div>

            <div class="link__util link__delivery">
                <p>Delivery sin cargo</p>
                <img class="link__icon" src="/images/iconos/img-delivery.png" alt="Delivery sin cargo">
            </div>
        </div>
    </main>    
    
    <%- include("partials/footer")%> 
    <!-- JavaScript -->
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    <script src="/js/carousel.js"></script>
    <script src="/js/product-slider.js"></script>
</body>
</html>