<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head')%>
<body>
<%- include('../partials/header')%>

    <main class="usersForm-container">
       
        <h3 class="userTitle">Edita tu perfil</h3>
        <form action="/users/profile/edit?_method=PUT" method="POST" enctype="multipart/form-data" id="form" class="form-ad" >
            <div class="form-ad-input">
                <input type="text" name="name" id="inputName" placeholder="Nombre" value="<%= locals.old ? old.name : user.name %>">
                <% if (locals.errors && errors.name) { %>
                    <small class="text-danger"><%= errors.name.msg %> </small>
                <% } %>
                <span class="error" id="nameErrors"></span>
            </div>
            <div class="form-ad-input">
                <input type="text" name="last_name" id="last_name" placeholder="Apellido" value="<%= locals.old ? old.last_name : user.last_name %>">
                <% if (locals.errors && errors.last_name) { %>
                    <small class="text-danger"><%= errors.last_name.msg %> </small>
                <% } %>
                <span class="error" id="last_nameErrors"></span>
            </div>
            <div class="form-ad-input">
                <input type="email" name="email" id="email" placeholder="Ingresá tu email" readonly value="<%= user.email %>">
                <% if (locals.errors && errors.email) { %>
                    <small class="text-danger"><%= errors.email.msg %> </small>
                <% } %>
                
            </div>
            <div class="form-ad-input">
                <input type="text" name="phone" id="phone" placeholder="Ingresá tu teléfono" value="<%= user.phone ? user.phone : "" %>">
                
                <% if (locals.errors && errors.phone) { %>
                    <small class="text-danger"><%= errors.phone.msg %> </small>
                <% } %>
                <span class="error" id="phoneError"></span>
            </div>
        
            
    
            <div class="input-file">
                <p>Cambiar foto de perfil</p>
                <input type="file" name="avatar">
            </div>
          
            <button type="submit" id="submit" class="btn btn-ad-primary">
                GUARDAR
            </button>
            
        </form>
    </main>
<%- include('../partials/footer')%>
<script src="/js/editUserValidator.js"></script>
</body>
</html>